In [1]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
path = "C:\\Users\\P RAJ\\Dell_Inspiron_works\\Keith_Gali_Working_With_Real_World"
os.chdir(path)
print(os.getcwd())

C:\Users\P RAJ\Dell_Inspiron_works\Keith_Gali_Working_With_Real_World

In [3]:
from glob import glob

In [4]:
files = glob('*.csv')

In [5]:
files.sort()
files

['complete_data.csv']

In [6]:
data = pd.concat( (pd.read_csv(file) for file in files), ignore_index=True)

In [7]:
data.shape

(186850, 6)

In [8]:
data.isna().sum()

Order ID            545
Product             545
Quantity Ordered    545
Price Each          545
Order Date          545
Purchase Address    545
dtype: int64

In [9]:
data.describe()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
count,186305,186305,186305,186305,186305,186305
unique,178438,20,10,24,142396,140788
top,Order ID,USB-C Charging Cable,1,11.95,Order Date,Purchase Address
freq,355,21903,168552,21903,355,355

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 186850 entries, 0 to 186849
Data columns (total 6 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Order ID          186305 non-null  object
 1   Product           186305 non-null  object
 2   Quantity Ordered  186305 non-null  object
 3   Price Each        186305 non-null  object
 4   Order Date        186305 non-null  object
 5   Purchase Address  186305 non-null  object
dtypes: object(6)
memory usage: 8.6+ MB

###### Another Way

In [11]:
files = [file for file in os.listdir('./Sales_Data')]

all_month_data = pd.DataFrame()

for file in files:
    df = pd.read_csv("./Sales_Data/"+file)
    all_month_data = pd.concat([all_month_data, df])
    
all_month_data.to_csv('complete_data.csv', index = False)

### Add the month column here

In [86]:
df = pd.read_csv('complete_data.csv')

In [87]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [89]:
# Method-1
df['Order Date'].str[0:2]
df['month'] = df['Order Date'].str[0:2]
df.sample(2)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
97207,215199,AA Batteries (4-pack),1,3.84,06/18/19 11:24,"407 6th St, Boston, MA 02215",06
154290,295189,Macbook Pro Laptop,1,1700,11/22/19 21:12,"544 Johnson St, Atlanta, GA 30301",11

In [ ]:
df['month']= df['month'].astype('int32')

#### Cleaning the data

In [97]:
nan_df = df[df.isna().all(axis=1)] 
nan_df.head()

df.dropna(how='any',inplace = True)
df.sample(n=4, random_state =0)

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
25628,243605,LG Dryer,1,600.0,08/12/19 22:24,"288 Walnut St, Seattle, WA 98101",08
116824,173052,27in FHD Monitor,1,149.99,03/16/19 09:32,"889 Main St, Austin, TX 73301",03
30585,295839,Apple Airpods Headphones,1,150,12/23/19 12:28,"340 Lakeview St, Seattle, WA 98101",12
79129,224701,AA Batteries (4-pack),1,3.84,07/22/19 20:23,"649 Jackson St, Atlanta, GA 30301",07

In [98]:
df['month'] = df['month'].astype('int32')

ValueError: invalid literal for int() with base 10: 'Or'

In [104]:
temp_df = df[df['Order Date'].str[0:2] == 'Or']
temp_df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
519,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1149,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
1155,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2878,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
2893,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
...,...,...,...,...,...,...,...
185164,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
185551,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186563,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186632,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or
186738,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,Or

In [105]:
df.month.unique()

array(['04', '05', 'Or', '08', '09', '12', '01', '02', '03', '07', '06',
       '11', '10'], dtype=object)

In [107]:
# Delete all the or from our dataframe
df = df[df['month'] != 'Or']

In [108]:
df['month'] = df['month'].astype(int)

#### Finally we get it done here!

In [94]:
# METHOD-2
df['Order Date'].str.slice(0,2)
df['month'] = df['Order Date'].str.slice(0,2)

In [110]:
### Method_3
df['Order Date']= pd.to_datetime(df['Order Date'])

### What was the best month for sales? How much was earned that month

In [12]:
all_month_data.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"

In [23]:
nan_df = all_month_data[all_month_data.isna().all(axis=1)] 
len(nan_df)

545

In [63]:
all_month_data.isna()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,month
0,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...
11681,False,False,False,False,False,False,False
11682,False,False,False,False,False,False,False
11683,False,False,False,False,False,False,False
11684,False,False,False,False,False,False,False
11685,False,False,False,False,False,False,False

In [16]:
all_month_data.dropna(how='all').head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001"

In [18]:
all_month_data.shape

(186850, 6)

In [21]:
all_month_data.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [22]:
all_month_data['Month'] =  all_month_data['Order Date'].str.split('/').apply(lambda x: x[0])

TypeError: 'float' object is not subscriptable

In [ ]:
all_month_data.head()

In [65]:
all_month_data.dtypes

Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
Month               object
dtype: object

In [73]:
all_month_data['Month'] = all_month_data.Month.astype('int32')

ValueError: invalid literal for int() with base 10: 'Order Date'